/*CSS DOCUMENT*/
img {
    width: auto;
}

div.logo{
    width: 8em;
}

body{
    padding: 1em;
}

Header img{
    width: auto;
}

h2{
    color: #304F1B;
}

h3{
    color: #f2a2c0;
    font-family: serif;
    font-size: 1.5em;
}

h4{
    color: #edafaf;
    font-family: serif;
    padding-bottom: 0;
}

p{
    padding-left: 0;
    color: #edafaf;
    font-family: serif;
}

figure{
    margin: 0;
}

nav ul{
    padding: 0.5em;
    margin-bottom: 1.5em;
    word-spacing: 0.8em;
    font-size: 1.5em;
}

nav ul li{
    display:inline;
    list-style-type: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.07em;
}

nav ul li a{
    text-decoration: none;
    color: #b6b7ab;
}

nav ul li a:hover{
    color: #b6b7ab;
}

@media screen and (min-width: 45em) {
    html{
        max-width: 55em;
        margin: auto;
    }
    header{
        display:grid;
        grid-template-columns: 8em auto ;
    }
    h1{
            font-size: 4em;
            padding-top:0.25em;
        }
    Nav {
        grid-column: 1/3;
     }
    }
}